#images{
    display: flex;
    align-items: flex-start;
    transition: transform 0.5s;
}
#window{
    /* border: 5px solid green; */
    width: 150px;
    overflow: hidden;
}
.red{
    background: red;
}