  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      border: 1px solid red;
  }

  html {
      height: 100%;
  }

  body {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .form-wrapper {
      border: 1px solid #ddd;
      padding: 20px;
  }

  .form-wrapper .row {
      margin: 10px 0;
  }

  .form-wrapper .row>label {
      display: inline-block;
      min-width: 4em;
  }