* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol { list-style: none; }

#canvas {
	display: block;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
}

.tools{ 
	display: flex; 
	border: 1px solid red;
	flex-direction: column;
}

.tools .property{
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #eee;
	margin: 10px;
	width: 80px;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
}


 .tools .property .colors>li {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	border: 2px solid #eee;
	margin: 10px 5px;
	transition: all 0.3s;
}

.tools .property .colors>li.black {
	background: black;
}
.tools .property .colors>li.red {
	background: red;
}
.tools .property .colors>li.green {
	background: green;
}
.tools .property .colors>li.blue {
	background: blue;
}
.tools .property .colors>li.yellow {
	background: yellow;
}
.tools .property .colors>li.purple {
	background: purple;
}
.tools .property .colors>li.active {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
	transform: scale(1.2);
}


.tools .property .sizes>li {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #eee;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	margin: 10px 5px;
	width: 25px;
	height: 25px;
}
.tools .property .sizes>.thinnest>div{
	height: 17px;
	border-right: 1px solid black;
}
.tools .property .sizes>.thinner>div{
	height: 17px;
	border-right: 2px solid black;
}
.tools .property .sizes>.thin>div{
	height: 17px;
	border-right: 3px solid black;
}
.tools .property .sizes>.normal>div{
	height: 17px;
	border-right: 4px solid black;
}
.tools .property .sizes>.thick>div{
	height: 17px;
	border-right: 5px solid black;
}
.tools .property .sizes>.thicker>div{
	height: 17px;
	border-right: 8px solid black;
}

.tools .actions {
	border: 10px solid red;
	height: 400px;
	width: 400px;
}

.tools .actions svg {
	width: 1.5em;
	height: 1.5em;
	transition: all 0.3s;
	margin: 0 10px;
}
.tools .actions .icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	overflow: hidden;
	stroke: red;
}

/* .actions svg.active {
	fill: red;
	transform: scale(1.2);
} */

/* .actions svg:nth-child(3):hover,
.actions svg:nth-child(4):hover {
	fill: red;
	transform: scale(1.2);
} */