#xxx{
    background: green;
    display: block;
}
body{
    margin: 0px; padding: 0;
}
.actions{
    position: fixed;
    bottom: 0;
    left: 0ï¼›
}
.actions > #brush{
    display: none;
}
.actions.x > #brush{
    display: inline-block;
}
.actions.x > #eraser{
    display: none;
}